@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5 class="text-danger">This site is a personal project, not a commercial product.</h5>

<div>
    <h4>Guest login</h4>
    <p>Anyone may log in as a guest to explore the features and content available on this site. </p>
    <p>Please note that guests have limited access to modify any existing content and are not able to upload new content.</p>
</div>

<div>
    <h4>Creating an account</h4>
    <p>You can register your own account by providing a valid email and a password.</p>
    <p>You will have to confirm your email.</p>
    <p>I will be notified when you have confirmed your email.</p>
    <p>The account will only be activated if I accept your request.</p>
</div>