
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.closeup {
    max-height: calc(100vh - 300px);
    max-width: 100%;
    display: inline;
}

.full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.ignore-padding {
    margin-top: -1rem !important;
}

.topcorner {
    padding-top: 70px;
    padding-right: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.leftcorner {
    padding-top: 70px;
    padding-left: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.custom-file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-file-label {
    background: #0450d5;
    color: white;
    line-height: 1.2;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.scroll {
    height: auto;
    max-height: 1000px;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
}

.thumbnail {
    height: auto;
    width: 100%
}