@model HoliPics.Models.Album


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4 scroll">
    @foreach (var item in Model.Images)
    {
        <div class="col">
            <a asp-action="Picture" asp-route-id="@item">
                <img src="~/images/@item" class="w-100 shadow-1-strong rounded mb-4" asp-append-version="true" />
            </a>            
        </div>
        
    }  
</div>





