@model HoliPics.Models.Album

@if (Model.Images.Count > 0)
{
    <div id="carouselExample" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            @{string firstImg = $"Large_{Model.Images[0]}";}
            <div class="carousel-item active text-center">
                <img src="~/images/@firstImg" class="closeup" asp-append-version="true" />
            </div>
            @foreach (var item in Model.Images)
            {   @if (item != Model.Images[0])
                {
                    string imgName = $"Large_{item}";
                    <div class="carousel-item text-center">
                        <img src="~/images/@imgName" class="closeup" loading="lazy" asp-append-version="true" />
                    </div>
                }

            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}