@using HoliPics.Authorization
@using Microsoft.AspNetCore.Authorization;

@inject IAuthorizationService AuthorizationService

@model HoliPics.Models.Album

@{
    ViewData["Title"] = "Index";
}
@if ((await AuthorizationService.AuthorizeAsync(User, Model, AlbumOperations.Read)).Succeeded)
{
   <style>
        .dropdown-item:active {
            background-color: black;           
        }
        .dropdown-menu {
            min-width: 1rem;
        }
   </style>


    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-dark box-shadow mb-3 full-bleed ignore-padding-top sticky-top" style="background-color: rgba(0,0,0,0.5)">        
        <div class="container-fluid">           
            <div class="navbar">
                <a asp-area="" asp-action="Index" asp-controller="Albums" class="btn btn-dark rounded-circle" type="button">
                    <i class="bi bi-arrow-left-short h3"></i>
                </a>
            </div>

            <div class="navbar-header">
                <h1 class="display-4">@Model.Name</h1>
            </div>
                                  
            
            <div class="navbar d-sm-inline-flex justify-content-between" id="test">                
                <ul class="navbar-nav flex-grow-1">   
                    <li class="nav-item">
                        <a asp-action="Upload" asp-route-id="@Model.Id" class="btn btn-dark rounded-circle" type="button">
                            <i class="bi bi-plus-square-dotted h4"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle text-white" id="displayDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-columns-gap h5" id="default-active"></i>
                            <i class="bi bi-grid-3x3-gap h5" id="info-active"></i>
                            <i class="bi bi-images h5" id="focus-active"></i>
                        </button>
                        <form onchange="changeDisplay()">
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="displayDropdown" data-bs-theme="dark">
                                <li class="dropdown-item">
                                    <input type="radio" class="btn-check" name="btnradio" value="default" id="default-btn" autocomplete="off" checked />
                                    <label class="btn btn-outline-info" for="default-btn">
                                        <i class="bi bi-columns-gap h5"></i>
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <input type="radio" class="btn-check" name="btnradio" value="info" id="info-btn" autocomplete="off" />
                                    <label class="btn btn-outline-info" for="info-btn">
                                        <i class="bi bi-grid-3x3-gap h5"></i>
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <input type="radio" class="btn-check" name="btnradio" value="focus" id="focus-btn" autocomplete="off" />
                                    <label class="btn btn-outline-info" for="focus-btn">
                                        <i class="bi bi-images h5"></i>
                                    </label>
                                </li>
                            </ul>
                        </form>
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="position: absolute; top: 0vh; left: 0; height: 100%">
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="position: sticky; top: 50%; left: 0; border-radius: 0 40px 40px 0; z-index: 3;">
            <i class="bi bi-layout-text-sidebar h5"></i>
        </button>
    </div>



    <div class="offcanvas offcanvas-start d-none d-lg-block" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 15vw;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
            <div style="position: absolute; top: 0vh; left: 0; height: 100%">
                <button type="button" class="btn btn-dark rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close" style="position: sticky; top: 50%;">
                    <i class="bi bi-arrow-left-short h3"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="default-display" >
        @await Html.PartialAsync("DefaultDisplayPartial", Model, ViewData)
    </div>

    <div id="info-display">
        @await Html.PartialAsync("InfoDisplayPartial", Model, ViewData)
    </div>

    <div id="focus-display">
        @await Html.PartialAsync("FocusDisplayPartial", Model, ViewData)
    </div>

   
    
   
    @section Scripts {
        <script>
            document.getElementById("default-display").style.display = "inline";
            document.getElementById("info-display").style.display = "none";
            document.getElementById("info-active").style.display = "none";
            document.getElementById("focus-display").style.display = "none";
            document.getElementById("focus-active").style.display = "none";

            function changeDisplay() {
                if (document.getElementById("default-btn").checked) {
                    document.getElementById("default-display").style.display = "inline";
                    document.getElementById("default-active").style.display = "inline";
                    document.getElementById("info-display").style.display = "none";
                    document.getElementById("info-active").style.display = "none";
                    document.getElementById("focus-display").style.display = "none";
                    document.getElementById("focus-active").style.display = "none";
                
                }
                else if (document.getElementById("info-btn").checked) {
                    document.getElementById("default-display").style.display = "none";
                    document.getElementById("default-active").style.display = "none";
                    document.getElementById("info-display").style.display = "inline";
                    document.getElementById("info-active").style.display = "inline";
                    document.getElementById("focus-display").style.display = "none";
                    document.getElementById("focus-active").style.display = "none";
                }
                else if (document.getElementById("focus-btn").checked) {
                    document.getElementById("default-display").style.display = "none";
                    document.getElementById("default-active").style.display = "none";
                    document.getElementById("info-display").style.display = "none";
                    document.getElementById("info-active").style.display = "none";
                    document.getElementById("focus-display").style.display = "inline";
                    document.getElementById("focus-active").style.display = "inline";
                }
            }
  
        </script>
    }  
}


